<style>
/* By default, hide if not active */
:host(:not(.active)) {
	display: none;
}
:host {
	display: grid;
	place-items: center;

	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background: rgba(0,0,0,0.8);
	z-index: 1000;
}
display-area {
	display: block;
}
title-panel {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-end;
}
modal-content {
	grid-row: 2;
}
</style>
<display-area>
	<title-panel>
		<h1>{{title}}</h1>
		<div>
			{{#if closeButton}}
				<button click-function='close'>Close</button>
			{{/if}}
			{{#if destroyButton}}
				<button onclick='this.getRootNode().host.remove();'>Dismiss</button>
			{{/if}}
		</div>
	</title-panel>
	<modal-content id="content" auto-register>
		{{content}}
	</modal-content>
</display-area>