<style>
:host {
	position: relative;
	color: green;
	background: pink;
	display: grid;
}
</style>
<h1>FA TEST</h1>
<h2>App state {{appState.test}}</h2>
<div data-bind-template="value">\{{fromJson this}}</div>
<div data-bind-template>\{{value}}</div>
<input data-bind-value />
<div data-bind-template>
	Status: \{{self.status}}
	Listval: \{{self.listValue}};
	
	\{{#each self.listValue}}
		<div>List Value: \{{fromJson this}}</div>
	\{{/each}}
</div>

<script element-type="div">
	Status: \{{self.status}}
	Listval: \{{self.listValue}};
	
	<table>
	\{{#each self.listValue}}
		<tr><td>List Value</td><td>\{{fromJson this}}</td></tr>
	\{{/each}}
	</table>
</script>

<div data-bind-template>
	{{fromJson user}}
	<img src="{{user.picture}}" />
</div>

<h1>Elements</h1>
<div>
	Progress bar test:
	<fa-progress data-test="DATA TEST TEXT" value="0.25">this text should not be here</fa-progress>
</div>